@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");

* {
  color: #333;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: #333;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 2.9em;
}

h2 {
  font-size: 1.8em;
}

a {
  text-decoration: none;
}

.logo {
  color: #fff;
  float: left;
  font-family: "Pacifico", cursive;
  font-size: 1.6em;
  margin: -0.3em 0.6em 0;
}

.logo span {
  color: #666;
  font-family: "Pacifico", cursive;
  font-size: 0.9em;
}

.hero {
  background-image: url("./../../public/images/background2.png");
  background-size: cover;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.hero h1 {
  padding: 22% 0 0;
  text-shadow: 1px 1px #fff;
}

.hero h2,
.hero-meals h2 {
  text-shadow: 1px 1px #fff;
}

.hero-meals {
  background-image: url("./../../public/images/background2.png");
  background-size: cover;
  background-position: center -320px;
  background-repeat: no-repeat;
  text-align: center;
  height: 14em;
  width: 100%;
}

.hero-meals h2 {
  padding-top: 3.6em;
}

.meals {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3em;
  width: 100%;
}

.meal-id {
  float: left;
  margin-bottom: 1em;
  margin-left: 1em;
  width: 50%;
}

.meal-tile {
  background: #fff;
  border: 1px solid #f2f2f2;
  box-shadow: 1px 0px 3px #f2f2f2;
  color: #ccc;
  flex: 1 0 360px;
  justify-content: space-around;
  margin: 1.2em;
  position: relative;
  max-width: 400px;
}

.meal-id .meal-tile {
  margin-top: 5em;
  max-width: 100%;
}

.meal-tile img {
  width: 100%;
}

.meal-tile > div {
  padding: 1em;
}

.meal-title {
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
}

.meal-link {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.info {
  opacity: 0.8;
  margin: 1em 0 0;
}

.price {
  font-size: 1.1em;
  font-weight: bold;
}

.badge {
  position: absolute;
  left: -40px;
  top: -30px;
  width: 210px;
}

.hero-meals + .search-section {
  top: 22%;
}

.search-section {
  left: 0;
  position: absolute;
  text-align: center;
  top: 60%;
  width: 100%;
}

.search-section input {
  background: none;
  border: none;
  border-bottom: 2px solid #333;
  font-family: "Lato", sans-serif;
  font-size: 1.3em;
  padding: 0.2em;
  text-align: center;
  width: 25%;
}

.search-section input[type="text"]:focus {
  background: none;
  border: none;
  border-bottom: 2px solid #000;
  box-shadow: none;
  outline: none;
}

.main-nav {
  background: #000;
  color: #fff;
  height: 3.5em;
  padding: 0.8em;
  position: fixed;
  text-align: right;
  width: 100%;
  z-index: 1000;
}

.main-nav ul {
  display: flex;
  justify-content: flex-end;
}

.main-nav li {
  font-size: 1em;
  padding: 0.3em;
}

.main-nav li a {
  color: #fff;
  opacity: 0.8;
  text-transform: uppercase;
}

.main-nav li a:hover {
  opacity: 1;
}

.reservation {
  float: right;
  margin: 5em 2em 0 0;
  padding: 1em;
  text-align: center;
  width: 45%;
}

.reservation h3 {
  text-align: left;
}

.reservation label,
.reservation input {
  text-align: left;
  width: 100%;
}

.reservation label {
  color: #666;
  display: block;
  font-size: 1em;
  margin-top: 1em;
}

.reservation input {
  border: 1px solid #ccc;
  color: #333;
  font-size: 0.9em;
  margin-top: 0.2em;
  padding: 0.5em;
}

.reservation input::placeholder {
  opacity: 0.7;
}

.reservation input:focus {
  border: 1px solid #3bb8c6;
  box-shadow: 0 0 5px #3bb8c6;
  outline: none;
}

.reservation input[type="submit"] {
  background: #3bb8c6;
  color: #fff;
  font-size: 1.1em;
  margin-top: 1em;
  text-align: center;
  text-shadow: 1px 1px #666;
  text-transform: uppercase;
  width: 80%;
}

.reservation input[type="submit"]:hover {
  cursor: pointer;
}

.reservation .invalid input:invalid {
  border: 1px solid red;
}

#response {
  margin-top: 10px;
}

.reviews {
  clear: both;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 3em;
  padding: 0 2em;
  width: 100%;
}

.reviews h3 {
  margin-left: 2em;
  width: 100%;
}

.review-tile {
  background: #fff;
  border: 1px solid #f2f2f2;
  box-shadow: 1px 0px 3px #f2f2f2;
  color: #ccc;
  flex: 1 0 200px;
  justify-content: space-around;
  margin: 1.2em 1.2em 0.6em;
  padding: 1.6em;
  max-width: 400px;
}

.review-title {
  font-size: 1.2em;
  font-weight: bold;
}

.review-tile .stars img {
  margin: 0.5em 0;
  width: 160px;
}

.review-tile p {
  opacity: 0.9em;
  font-style: italic;
}

.review-tile .author {
  color: #000;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.review-tile .when {
  font-size: 0.8em;
  opacity: 0.6;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.3em;
  }
  .logo {
    font-size: 1.2em;
    margin: 0;
  }
  .main-nav li {
    padding: 0.3em 0.1em;
  }
  .hero {
    background-size: cover;
    height: 40vh;
  }
  .hero h1 {
    line-height: 1em;
    padding-top: 28%;
  }
  .hero-meals {
    background-position: center -15px;
  }
  .hero-meals h2 {
    line-height: 1em;
    margin: auto;
    padding-top: 5em;
    width: 70%;
  }
  .search-section {
    top: 28%;
  }
  .hero-meals + .search-section {
    top: 26%;
  }
  .search-section input {
    font-size: 1.1em;
    width: 50%;
  }
  .meal-tile {
    margin: 1.2em 0;
  }
  .meal-id {
    margin-left: 0em;
    width: 100%;
  }
  .reservation {
    margin: 0 1.3em 2em 0;
    width: 90%;
  }
  .reviews h3 {
    margin-left: 1em;
  }
  .review-tile {
    margin: 1em 0 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .hero {
    height: 38vh;
  }
  .hero-meals {
    background-position: center -120px;
  }
  .search-section {
    top: 27%;
  }
  .meal-tile {
    max-width: 345px;
  }
  .hero-meals + .search-section {
    top: 14%;
  }
  .meal-id {
    margin-left: 0;
  }
  .reservation {
    margin: 5em 1.2em 0 0;
  }
}
